/* Styling for the dropdown button */
.dropdown-button {
    background-color: #6f7272;
    width: 180px;
    color: white;
    padding: 16px;
    font-size: 22px;
    border: none;
}

/* Main container styling for the dropdown component */
.dropdown-main-class {
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: rgb(219, 228, 228);
    height: 400px;
    width: 800px;
    align-items: center;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 100px;
}

/* Styling for the dropdown content container */
.dropdown-content {
    display: none;
    background-color: #f1f1f1;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(14, 2, 2, 0.2);
    z-index: 1;
}

/* Styling for each dropdown link */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Hover effect for dropdown links */
.dropdown-content a:hover {
    background-color: #d08282;
}

/* Additional styling for the dropdown button within the main container */
.dropdown-main-class .dropdown-button {
    background-color: #545453;
}
